*.o
*.o.json
*FCBak
*backup*
.aider*
.aider.chat.history.md
.aider.input.history
.aider.tags.cache.v3
.cache
.ccls
.clang_complete
.env
.gcc-flags.json
.pio
__pycache__
basic
calibrate
compile_commands.json
wizzcam
!src/wizzcam
