*backup*
.ccls
.clang_complete
.gcc-flags.json
.ccls
*backup*
*FCBak
src/micropython/__pycache__
.pio
calibrate
compile_commands.json
.env
.aider.chat.history.md
.aider.input.history
.aider.tags.cache.v3
