[submodule "sub/apriltag"]
	path = sub/apriltag
	url = https://rfb:fanuc@git.47or.com/thf/apriltag.git
[submodule "sub/apriltag-generation"]
	path = sub/apriltag-generation
	url = https://rfb:fanuc@git.47or.com/thf/apriltag-generation.git
[submodule "sub/akvirtualcamera"]
	path = sub/akvirtualcamera
	url = https://github.com/webcamoid/akvirtualcamera.git
[submodule "sub/LCCV"]
	path = sub/LCCV
	url = https://github.com/kbarni/LCCV.git
